<div class="row feed">
	<div class="col-md-4">
		<div ng-hide="currentUser" background-image="images/bird.jpeg">
			<h4>Login</h4>
			<br>
			<input type="text" size="30" placeholder="Username" ng-model="username">

			<br><br>
			<input type="password" size="30" placeholder="Password" ng-model="password">
			<br><br>

			<button type="button" data-dismiss="alert"ng-click="signIn()">Sign In</button>

			<br><br>
			<a href="#!/signup">Not a member? Signup</a>
		</div>
		<div ng-show="currentUser">
			Hello, {{ currentUser }}!
			<br><br>
			<a href ng-click="logout()">Logout</a>
		</div>
	</div>
	<div class="col-md-8 border-left" ng-show="currentUser">
		<div class="new-tweet">
			<input type="text" class="form-control" ng-model="newTweet" placeholder="What do you have to tweet today?">
			<br>
			<button class="btn" type="button" ng-click="submitNewTweet()">Submit</button>{{ newTweet }}
		</div>
		<h3 ng-repeat = "tweet in tweets">
			<span class="glyphicon glyphicon-user" aria-hidden="true"></span>
			{{ meow.text }}	
			<a href ng-click="removeTweet(tweet)"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a>
			<br>
			<small>{{ tweet.username }}</small>
		</h3>
	</div>
</div>
